.desktop-nav a.active,
.mobile-nav a.active {
  color: var(--color-accent-primary);
}

/* You may want to add a visual indicator for the active state, such as an underline */
/* removed by sl 202040909
.desktop-nav a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent-primary);
  position: absolute;
  bottom: 0;
  left: 0;
} */
